#parent {
  background: green;
  width: 160px;
  height: 120px;
  position: relative;
}

#child {
  background: red;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  height: 140px;
  width: 300px;
  display: block;
}
