.edit-td .edit-area {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  resize: none;
  /* отключаем изменение размера текстовой области в Firefox */
  
  outline: none;
  /* удаляем обводку при фокусировке в Chrome */
  
  overflow: auto;
  /* удаляем полосу прокрутки в IE */
}

.edit-controls {
  position: absolute;
}

.edit-td {
  position: relative;
  padding: 0;
}
